<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="js/jquery.min.js" type="text/javascript"></script>
</head>
<body>
<h1>登录页面</h1>
<h2>用户名：</h2>
<p><input id="name" type="text"/></p>
<h2>密码：</h2>
<p><input id="pwd" type="password"/></p>
<p><input id="loginbutton" type="button"  value="登录"></p>
<script>
    $("#loginbutton").click(function(){
        // alert("111222333"+"/"+$("#name").val()+"/"+$("#pwd").val());
        var params = {};
        params.name = $("#name").val();
        params.pwd = $("#pwd").val();
        $.ajax({
            type: "post",
            url: "login",    //向后端请求数据的url
            data: JSON.stringify(params),
            contentType: 'application/json',
            success: function (data) {
                alert(data.msg);
            }
        });

    });
</script>
</body>
</html>